#body-content{
    padding: 20px;
}

.mobile-only{
    margin: 0 auto;
    display: block;
}

.desktop-only{
    display: none;
}

body{
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
}

h1{
    font-size: 50px;
    text-align: center;
}

#navbar{
    position: sticky;
    background-color: white;
    top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

#logo{
    height: 100%;
    width: 120px;
}

#dropdown{
    height: 100%;
    width: 30px;
    cursor: pointer;
}

#sidebar{
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;

    background-color: white;

    transition: right 0.3s ease;

    padding: 20px;
    box-sizing: border-box;

    border-left: 5px solid rgb(39, 141, 115);
}

#sidebar #closed-btn{
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    cursor: pointer;
    width: fit-content;
}

#sidebar div{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

a{
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#sidebar.open{
    right: 0;
}

#main-left{
    width: 100%;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

main div h1{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(39, 141, 115);
    font-size: 40px;
    text-align: center;
}

.profile{
    width: 100%;
    max-width: 300px;
    height: auto;
}

main div p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

main div ul{
    padding-left: 20px;
    margin-top: 0;
}

main div h2{
    font-size: 40px;
    background-color: rgb(255, 205, 85);
    border-radius: 25px;
    padding: 30px;
    cursor: pointer;
}

footer{
    background-color: rgb(247, 247, 247);
    margin-top: 70px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

footer p{
    margin: 0;
    font-family: verdana;
    font-size: 15px;
}

.bold-text{
    font-weight: bold;
}

#topbar{
    display: none;
}

.full-width{
    width: 100%;
}

.services{
    padding-top: 20px;
    padding-bottom: 50px;
    margin-top: 100px;
}

.body-text{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 30px;
}

.green{
    background-color: #278D73;
}

.white{
    color: white;
}

.service-dropdown{
    margin: 20px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: normal;
}

.service-dropdown img{
    width: 40px;
    height: 100%;
}

.FAQs{
    border: 1.5px solid black;
    padding: 15px;
    border-radius: 25px;
    text-align: left;
}

#location{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hours{
    display: flex;
    gap: 50px;
}

#hours div{
    text-align: left;
}
@media screen and (min-width: 600px){
    #body-content{
        margin: 30px;
    }
    #dropdown{
        display: none;
    }
    #logo{
        height: auto;
        width: 300px;
    }
    #topbar{
        display: flex;
        gap: 70px;
        align-items: center;
    }
    #topbar a{
        font-size: 25px;
        text-decoration: none;
        color: black;
        cursor: pointer;
    }
    header div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
    }
    #call-out{
        background-color: rgb(255, 205, 85);
        padding: 15px;
        border-radius: 5px;
    }
    .desktop-only{
        display: block;
    }
    .mobile-only{
        display: none;
    }
    main{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-top: 100px;
    }
    #main-left{
        max-width: 600px;
        display: flex;
        flex-direction: column;
    }
    #main-left h1{
        font-size: 80px;
        text-align: left;
    }
    #main-left h2{
        max-width: 250px;
    }
    #main-left a{
        width: fit-content;
    }
    #main-left p{
        font-size: 20px;
    }
    .profile.desktop-only{
        height: auto;
        width: 500px;
        max-width: none;
    }
}
